<%- include("header") -%>

<h2> This is the about page </h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore recusandae ipsam earum ipsum ab magni id officia aliquid consequuntur maxime eligendi dolores maiores similique, aperiam enim expedita iure placeat debitis.</p>

<%- include("footer") -%>